<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HTMLUploadingUtils</title>
    <link href="/css" rel="stylesheet">
</head>
<body>

    <form id="uploader" enctype="multipart/form-data" method="post" action="/form">

        <input type="file" name="files" multiple accept="image/*" data-input>

        <div data-drag>Drag</div>

        <div data-files></div>

        <template data-file-template>
            <div class="file">
                <img data-image>
                <div data-filename></div>
                <a data-url target="_blank">Url</a>
                <div data-delete>Delete</div>
            </div>
        </template>

        <div data-server-filenames-to-delete></div>

        <button>Отправка</button>

    </form>

</body>

<script type="module">

    import { addDragUploadingForInput } from "/js/drag.js";
    import { InputFilesStorage } from "/js/storage.js";
    import { NoOverwriteInputFilesMapper } from "/js/htmlMapping.js";
    import { makeArrayInputs } from "/js/arrayInputs.js";

    var inputEl = document.querySelector("#uploader [data-input]");
    var filesEl = document.querySelector("#uploader [data-files]");
    var fileTempEl = document.querySelector("#uploader [data-file-template]");
    var dragEl = document.querySelector("#uploader [data-drag]");
    var storage = new InputFilesStorage(inputEl);
    var serverFilenamesToDeleteEl = document.querySelector("#uploader [data-server-filenames-to-delete]");

    addDragUploadingForInput(inputEl, dragEl);

    var mapper = new NoOverwriteInputFilesMapper(inputEl, filesEl, fileTempEl, storage);

    async function getExistFiles() {
        let response = await fetch("/get_exist_files");
        let data = await response.json();
        return data;
    }

    let files = await getExistFiles();
    for (let fileData of files) {
        mapper.addServerFile(fileData.filename, fileData.url);
    }

    var buttonEl = document.querySelector("#uploader button");
    buttonEl.onclick = (e) => {
        serverFilenamesToDeleteEl.innerHTML = "";
        makeArrayInputs(serverFilenamesToDeleteEl, "filenamesToDelete", mapper.getServerFilenamesToDelete());
    }

</script>

</html>
